body {
    background: #404040;
    color: #f8f8f8;
    font: 500 20px/30px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

.sidebar {
    position: absolute;
    width: 15%;
    min-width: 100px;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.pad2 {
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.map {
    border-left: 1px solid #fff;
    position: absolute;
    right: 0;
    width: 85%;
    top: 0;
    bottom: 0;
}


/* @media (max-width: 800px) {
    .sidebar {
        width: 100%;
        height: 30%;
        bottom: 0;
        top: 70%;
    }
    .map {
        width: 100%;
        bottom: 30%;
    }
    .listings {
        height: 30%;
    }
} */

@media (max-width: 666.66px) {
    .map {
        left: 100px;
    }
}

.listings {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
}

.listings .item:last-child {
    border-bottom: none;
}

.listings .item .title {
    display: block;
    color: #00853e;
    font-weight: 700;
}

.listings .item .title small {
    font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
    color: #8cc63f;
}

.listings .item.active {
    background-color: #f8f8f8;
}

 ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

 ::-webkit-scrollbar-track {
    background: none;
}

 ::-webkit-scrollbar-thumb {
    background: #00853e;
    border-radius: 0;
}

.clearfix {
    display: block;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*.distInput {
      width: 80px;
      left: 5;
    }*/

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
    text-align: center;
    border-bottom: 3px solid white;
}

.slider {
    width: min(90%, 200px);
}


/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    cursor: pointer;
    /* Cursor on hover */
}

.button {
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightgrey;
    /* Blue background */
    color: white;
    /* White text */
    font-size: 24px;
    /* Set a font size */
    /*background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    display: block;*/
}