<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8 />
    <title>Trail Router</title>
    <meta name='robots' content='noindex, nofollow'>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapboxjcom/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.1/css/all.css">

    <link rel="stylesheet" href="/static/theme.css">

    <style>

    </style>
</head>

<body>
    <div class='sidebar pad2'>
        <div class='topSidebar'>
            <div class='heading'>

                <h1><i class='fa fa-mountain'></i>Trail Routes</h1>
            </div>
            <b><em>Choose Your Route Type:</em></b> <br>
            <!-- <input type="radio" name="routeType" value="loop"> Loops <br> -->
            <input type="radio" name="routeType" id="routeType1" value="outAndBack" checked> Out-and-Back <br>
            <input type="radio" name="routeType" id="routeType2" value="pointToPoint"> Point-to-Point
            <div class="slidecontainer">
                <b><em>Choose Your Max Mileage:</em></b>
                <input type="range" min="1" max="50" value="26" class="slider" id="distSlider" name="miles">
                <label id="sliderLabel" for="miles"></label>
            </div>
        </div>
        <div id='listings' , class='listings'></div>
    </div>

    <div id='map' class='map pad2'></div>
    <!-- <button class="button" id='basemapControl' value='mapbox://sprites/mapbox/satellite-streets-v10'><i class='fa fa-globe-americas'></i></button> -->



    <script src=" /static/scripts.js " charset="utf-8 "></script>

</body>

uukjk